body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

#track {
  position: absolute;
}

#track .player {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: relative;
}
